<div class="container">
  <div class="twofactor box">
    <%= render 'messages' %>
    <div class="info">
      <h1><%= t('two_factor_authenticators.choose_type.title') %></h1>

      <ul>
	<li>
	  <%= link_to 'Google Authenticator', new_topt_two_factor_authenticator_path %>
	</li>
	<li>
	  <%= link_to 'SMS', sms_set_phone_number_path %>
	</li>
      </ul>
    </div>

    <%= link_to t('two_factor_authenticators.choose_type.back'), sessions_path, class: 'button' %>
  </div>
  <%= render 'footer' %>
</div>
